<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:insert="menu :: header"></div>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Документы</h3>
                </div>
                <div class="row mt-4"></div>
                <div class="card">

                    <a href="#"
                       th:href="@{/cash-receipt/{id}(id=1)}"
                       class="btn btn-light" role="button">Приходные кассовые ордера</a>
                </div>
                <div class="row mt-4"></div>
                <div class="card">
                    <a href="#"
                       th:href="@{/cash-voucher/{id}(id=2)}" class="btn btn-light" role="button">Расходные кассовые ордера</a>
                </div>
                <div class="row mt-4"></div>
                <div class="card">
                    <a href="/cash-receipt" class="btn btn-light" role="button">Накладные на выдачу в производство</a>
                </div>
                <div class="row mt-4"></div>
                <div class="card">
                    <a href="/cash-receipt" class="btn btn-light" role="button">Накладные на внутреннее перемещение</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
