<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div th:insert="menu :: header"></div>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Registration Page</h3>
                </div>
                <div class="card-text">
                    <form method="POST"
                          action="#"
                          th:action="@{/registration}"
                          th:object="${dto}">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="login">Login</label>
                            <div class="col-sm-7">
                                <input class="col-form-label form-control" id="login" th:field="*{dto.login}" placeholder="Login">
                                <p th:if="${#fields.hasErrors('login')}">Invalid Name</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" for="password">Password</label>
                            <div class="col-sm-7">
                                <input class="col-form-label form-control" type="password"
                                       id="password" th:field="*{dto.password}" name="password"
                                       placeholder="password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 25px">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h3>Users</h3>
                </div>
                <div class="card-text">
                    <table class="table">
                        <tr>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Add friend</th>
                        </tr>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td>
                                <span th:text="${user.login}"/>
                            </td>
                            <td>
                                <span th:text="${user.password}"/>
                            </td>
                            <td>
                                <div th:if="${@authContext.getLoggedInUserId() != user.id}">
                                    <form method="post"
                                          action="#"
                                          th:action="@{/addFriend/} + ${user.id}">
                                        <button type="submit" class="button btn btn-primary" name="button">Add friend
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-10">
                            <div class="col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class="col-sm-2">
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage != i}"
                                       th:href="@{'/users?page=' + ${i} + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                </span>
                            </div>
                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/users?page=' + ${currentPage + 1} + '&pageSize=' + ${pageSize}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/users?page=' + ${totalPages} + '&pageSize=' + ${pageSize}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
